<div class="navbar navbar-inverse navbar-fixed-top navbar-penedorj ng-cloak" data-ng-controller="HeaderController">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#!/restaurantes" data-ng-click="onHomeClicked()">PENEDO RJ - RESTAURANTES</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="!session.isLoggedIn"><a class="login-fb" ng-click="session.facebookLogin()" target="_blank">LOGIN</a></li>
				<li ng-if="session.isLoggedIn"><a class="login-fb" href="javascript:void(0);"><img class="img-circle img-fb" ng-src="{{ session.currentUser.user_image }}" class="img-responsive" alt="Responsive image"></a></li>
				<li ng-if="session.isLoggedIn"><a class="login-fb" href="javascript:void(0);">{{ session.currentUser.name | uppercase }}</a></li>
				<li ng-if="session.isLoggedIn" ng-click="session.logout()"><a class="login-fb" href="javascript:void(0);">LOGOUT</a></li>
			</ul>
		</div>
	</div>
</div>