<!-- EMPTY LIST MESSAGE -->
<div class="row top-buffer">

	<div class="col-xs-6 col-sm-4">
		<div class="home-item clearfix">
			<img class="img-responsive" src="" data-ng-src="{{ restaurant.image }}" imageonload>
		</div>
	</div>

	<div class="col-xs-6 col-sm-8">
		<div class="card">

			<div class="card-heading clearfix">
				<!--<div class="stamp">
					<span class="badge pull-left label-name badge-success ng-scope ng-binding" data-ng-if="benefit.status === 'active'">Ativa</span>
				</div>-->
				<h2 class="lead pull-left">{{ restaurant.name }}</h2>
			</div>

			<div class="clearfix">
				<span class="label label-primary label-restaurant-detail pull-left">{{ restaurant.expertise }}</span>
			</div>

			<!-- DESCRIPTION -->
			<p class="restaurant-description">
				<span class="glyphicon glyphicon-home"></span><span> {{ restaurant.address }} - {{ restaurant.neighborhood }}</span>
			</p>

			<!-- UTM -->
			<p class="restaurant-phone">
				<span class="glyphicon glyphicon-phone-alt"></span><span> (24) {{ restaurant.phone }}</span>
			</p>

		</div>

		<div id="disqus_thread"></div>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'penedorj'; // required: replace example with your forum shortname

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


	</div>

</div>