<div class="container starter-template">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="home-item clearfix">
				<img src="http://lorempixel.com/400/300/food/1" alt="img" class="img-responsive img-item-home"/>
				<div class="title-item-home">
					<h4>Restaurante XPTO</h4>
				</div>
				<div class="details-item-home">
					<span class="label label-default">Cozinha Brasileira</span>
							<span class="badge">
								<span class="glyphicon glyphicon-usd"></span><span class="glyphicon glyphicon-usd"></span>
							</span>
							<span class="badge">
								<span class="glyphicon glyphicon-star"></span> 7
							</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="home-item clearfix">
				<img src="http://lorempixel.com/400/300/food/2" alt="img" class="img-responsive img-item-home"/>
				<div class="title-item-home">
					<h4>Restaurante XPTO</h4>
				</div>
				<div class="details-item-home">
					<span class="label label-default">Cozinha Internacional</span>
							<span class="badge">
								<span class="glyphicon glyphicon-usd"></span>
							</span>
							<span class="badge">
								<span class="glyphicon glyphicon-star"></span> 8
							</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="home-item clearfix">
				<img src="http://lorempixel.com/400/300/food/3" alt="img" class="img-responsive img-item-home"/>
				<div class="title-item-home">
					<h4>Restaurante XPTO</h4>
				</div>
				<div class="details-item-home">
					<span class="label label-default">Comida Mineira</span>
								<span class="badge">
								<span class="glyphicon glyphicon-usd"></span>
							</span>
							<span class="badge">
								<span class="glyphicon glyphicon-star"></span> 8
							</span>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="home-item clearfix">
				<img src="http://lorempixel.com/400/300/food/4" alt="img" class="img-responsive img-item-home"/>
				<div class="title-item-home">
					<h4>Restaurante XPTO</h4>
				</div>
				<div class="details-item-home">
					<span class="label label-default">Carnes</span>
								<span class="badge">
								<span class="glyphicon glyphicon-usd"></span>
							</span>
							<span class="badge">
								<span class="glyphicon glyphicon-star"></span> 8
							</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="home-item clearfix">
				<img src="http://lorempixel.com/400/300/food/5" alt="img" class="img-responsive img-item-home"/>
				<div class="title-item-home">
					<h4>Restaurante XPTO</h4>
				</div>
				<div class="details-item-home">
					<span class="label label-default">Pizzas</span>
							<span class="badge">
								<span class="glyphicon glyphicon-usd"></span><span class="glyphicon glyphicon-usd"></span><span class="glyphicon glyphicon-usd"></span>
							</span>
							<span class="badge">
								<span class="glyphicon glyphicon-star"></span> 12
							</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="home-item clearfix">
				<img src="http://lorempixel.com/400/300/food/6" alt="img" class="img-responsive img-item-home"/>
				<div class="title-item-home">
					<h4>Restaurante XPTO</h4>
				</div>
				<div class="details-item-home">
					<span class="label label-default">Massas</span>
							<span class="badge">
								<span class="glyphicon glyphicon-usd"></span>
							</span>
							<span class="badge">
								<span class="glyphicon glyphicon-star"></span> 2
							</span>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.container -->