<div class="container starter-template">
	<div class="row top-buffer" data-ng-repeat="row in listToDisplay | partition:3">
		<div class="col-xs-12 col-sm-6 col-md-4" data-ng-repeat="restaurant in row">
			<div class="home-item clearfix">
				<img src="http://lorempixel.com/400/300/food/1" alt="img" class="img-responsive img-item-home"/>
				<div class="title-item-home">
					<h4 data-ng-bind="restaurant.name">Nome do Restaurante</h4>
				</div>
				<div class="details-item-home">
					<span class="label label-default" data-ng-bind="restaurant.expertise">Especialidade</span>
							<span class="badge">
								<span class="glyphicon glyphicon-usd"></span><span class="glyphicon glyphicon-usd"></span>
							</span>
							<span class="badge">
								<span class="glyphicon glyphicon-star"></span> 7
							</span>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.container -->